<h1 class="newUser">Login</h1>

  <%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email", class: "newUser form-control" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" , class: "newUser form-control"%>
  </div>
  <div class="actions newUser">
    <%= f.submit "login"%>
  </div>
  <% end %>
