<h1 class="header">Post-Folio</h1>

<p class="banner">
  Feel free to share some of your portfolio pieces with the world.
</p>
<hr>
<hr>
<p class="banner">
  These are some of the more recent projects posted.
</p>
<div class="container">
  <div class="row">
    <% @projects.take(4).each do |project| %>
      <div class="col-xs-3">
        <%= image_tag project.thumbnail_url(:display), class:"thumbnail" %>
      </div>
      <% end %>
  </div>
</div>
